<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Crossword Solver</title>
   <link rel="stylesheet" href="css/style.css">
   <style>
       .ui-datepicker {
           display: none;
           position: absolute;
           left: auto;
           right: 0;
       }
   </style>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script>
       $(function() {
           $("#date").datepicker({
               dateFormat: "yy-mm-dd",
               showOn: "focus",
               beforeShow: function(input, inst) {
                   var offset = $(input).offset();
                   var height = $(input).outerHeight();
                   window.setTimeout(function () {
                       inst.dpDiv.css({
                           top: offset.top + height,
                           left: offset.left + $(input).outerWidth(),
                           right: 'auto'
                       });
                   }, 1);
               }
           });
       });

       function redirectToToday() {
           var today = new Date().toISOString().split('T')[0];
           window.location.href = `result.html?date=${today}`;
       }

       function handleSubmit(event) {
           event.preventDefault();
           var date = document.getElementById('date').value;
           window.location.href = `result.html?date=${date}`;
       }
   </script>
</head>
<body>
   <h1>&#129513; Welcome to CrosswordSolver! &#129513;</h1>
  
   <div class="box-container">
       <div class="todaybutton-container">
           <button onclick="redirectToToday()" class="today-button">Solve Today's Crossword</button>
       </div>
       <h2>Enter the date for the desired crossword puzzle</h2>
       <form id="date-form" onsubmit="handleSubmit(event)">
           <label for="date">Date (YYYY-MM-DD):</label>
           <input type="text" id="date" name="date" required autocomplete="off">
           <br>
           <button type="submit" class="solve-button">Solve</button>
       </form>
   </div>
</body>
</html>
